body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #028b8b;
    font-family: Arial, sans-serif;
}
.container{
    background: #ffffff;
    width: 40vw;
    height: 50vh;
    border-radius: 20px;


}
.container div:nth-child(1){

    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9f3f3;
    border-radius: 20px 20px 0 0;
    height: 20%;


}
.container div:nth-child(1) h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: Arial, sans-serif;

}
.container form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

input[type='text'],
input[type='password']{
    width: 350px;
    height: 30px;
    margin: 20px;
}
.nutr {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
input[type='submit'] {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid;

}